body{
    background-image: url("../img/harvard\ university\ 7.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    
}
#title h2{
    font-weight: 600;
}
#info{
    color: brown;
    font-weight: 500;
}
.container{
    opacity: .9;
}
#record{
    color: red;
}
select{
    border:none !important;
    padding: .5rem 0 .60rem !important;
}
option{
    background-color:black;
    color: #fff;
}

input,select{
    border-bottom: 2px solid black !important; 
}
#lblGender{
    margin-top: -25px;
    font-size: 0.8rem;
}
.table-hover tbody tr:hover {
    color: rgb(49, 38, 44) !important;
    background-color: rgba(223, 182, 47, 0.8) !important;
}
.selected{background-color: darkgoldenrod; font-weight: bold; color: #fff;}

